@media (prefers-color-scheme: light) {
    .darkmode {
        display: none;
    }
    body {
        background-color: white;
        color: black;
    }
}
    
@media (prefers-color-scheme: dark) {
    .lightmode {
        display: none;
    }
    body {
        background: #333;
        color: white;
    }
}

a {
    text-decoration: none;
    color: #0d6efd;
}